{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<p>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
</p>
{% endblock %}
