<div id="manage-task-board-modal-error" class="alert alert-danger d-none" role="alert">
    {% if error is not empty %}
        <ol>
            {% for e in error %}
                <li>{{ e }}</li>
            {% endfor %}
        </ol>
    {% endif %}
</div>
<form id="manage-task-board-modal-form">
    <input type="hidden" name="id" value="{{ status.id }}"/>
    <div class="mb-3">
        <label for="title" class="form-label">{{ 'Status'|trans }}</label>
        <textarea id="name" class="form-control" name="name">{{ status.name }}</textarea>
    </div>
</form>