.image-card:hover .image-card-description,
.image-card:hover .image-card-overlay,
.image-card:hover{
  visibility:visible;
  opacity:1;
}

.image-card-info{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  align-items: flex-end;
  position: absolute;
}

.image-card-overlay{
  width: 100%;
  background-color: $white-overlay-bg;
  position: absolute;
  top: 0;
  bottom: 0;
}

.image-card-description{
  left: 16px;
  bottom: 16px;
  position: absolute;
}

.image-card-description p{
  height: 23px;
  overflow: hidden;
  padding-right: 16px;
}