.bd-sidebar{
  background-color: $artflow-light2-color;
  box-shadow: 0 2rem 2rem $artflow-light2-color;
}

.bd-toc {
  /*position: -webkit-sticky;
  position: sticky;*/
  overflow-y: auto;
  background-color: $artflow-light2-color;
  box-shadow: 0 2rem 2rem $artflow-light2-color;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}